html {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    background-color: white;
}

*{
    transition: all .5s ease;
}

body {
    width: inherit;
    height: inherit;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    font-family: 'Quicksand', "Arial Regular", sans-serif;
    background-color: white;
}

::-webkit-scrollbar {
    width: 8px;
}


/* this targets the default scrollbar (compulsory) */

::-webkit-scrollbar:horizontal {
    height: 8px;
}


/* this targets the default scrollbar (compulsory) */

::-webkit-scrollbar-track {
    background-color: #f4f4f4;
}


/* the new scrollbar will have a flat appearance with the set background color */

::-webkit-scrollbar-thumb {
    background-color: cornflowerblue;
    border-radius: 5px;
}


/* HEADER */

header {
    width: inherit;
    height: 4em;
    background-color: white;
    overflow: hidden;
    display: inline-block;
    border-bottom: 2px solid skyblue;
    position: fixed;
    z-index: 3;
}

/* smaller navbar on scroll*/
header.sticky{
    height: 2.5em;
    background-color: black;
}

@media screen and (max-width: 780px) {
    header {
        display: none;
    }
}


/* Style the links inside the navigation bar */

header #title {
    width: auto;
    height: inherit;
    float: left;
    display: block;
    color: darkslategray;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 1.8em;
    margin-left: 0.8em;
}

header.sticky #title{
    width: auto;
    height: inherit;
    float: left;
    display: block;
    color: White;
    text-align: center;
    padding: .3em 16px;
    text-decoration: none;
    font-size: 1.5em;
    margin-left: 0.8em;
}

header #links {
    float: left;
    height: inherit;
    display: inline;
}

header.sticky #links{
    height: inherit;
}

header #links a {
    width: auto;
    height: inherit;
    display: inline-flex;
    color: deepskyblue;
    text-align: center;
    padding: 20px 16px 14px 16px;
    text-decoration: none;
    font-size: 1.2em;
}

header.sticky #links a{
    text-align: center;
    padding: 10px 16px 14px 16px;
    text-decoration: none;
    font-size: 1.0rem;
}


/* Change the color of links on hover */

header #links a:hover {
    background-color: skyblue;
    color: white;
}

header .account {
    height: inherit;
    float: right;
    display: inline-flex;
    padding-top: 0.5em;
}

header.sticky .account{
    padding-top: 0;
    background-color: white;
}

header .account:hover {
    background-color: paleturquoise;
}

header .account div {
    height: inherit;
    display: inline-block;
}

header .account p {
    color: darkslategray;
    font-weight: bold;
    margin-left: 1em;
    margin-right: 1em;
}

header.sticky .account p{
    margin-right: 1em;
}

header .account img {
    width: 3em;
    height: 3em;
    border-radius: 50%;
    margin-right: 2.5em;
}

header.sticky .account img{
    /*display: none;*/
    width: 1.8em;
    height: 1.8em;
    margin: 0.5em 2em 0 0;
}



/* SHOP */


/* description */

.description {
    width: 100%;
    height: auto;
    background-color: skyblue;
    padding: 4em 0em 0em 0em;
}

.description.sticky {
    background-color: skyblue;
    padding: 2.5em 0em 0em 0em;
}

.description div {
    width: 70%;
    height: auto;
    display: inline-block;
}

.description div input[type="search"] {
    width: 55%;
    height: 2.5em;
    border-style: none;
    color: black;
    font-size: 1em;
    padding: .5em;
    background: rgba(255, 255, 255, 0.2);
}

.description div input[type="search"]:hover {
    background: rgba(255, 255, 255, 0.7);
}

.description div input[type="search"]:focus,
.description div select:focus,
.description div input[type='submit']:focus{
    background: rgba(255, 255, 255, 1);
}

.description div select {
    width: 30%;
    height: 3em;
    border-style: none;
    font-size: 0.8em;
    background: rgba(255, 255, 255, 0.2);
    padding: 0;
}

.description div select:hover {
    background: rgba(255, 255, 255, 0.5);
}

.description div input[type='submit'] {
    width: 10%;
    height: 3em;
    border-style: none;
    font-size: 0.8em;
    background: rgba(255, 255, 255, 0.2);
}

.description div input[type='submit']:hover {
    background: rgba(255, 255, 255, 0.8);
}

.search.sticky{
    position: fixed;
    top: 2.5em;
    left: 15%;
    z-index: 3;
    background-color: rgba(30,144,255,.1);
    border: 2px solid skyblue;
    transition: all 0.5s ease;
    box-shadow: 0 0 5px black;
}

/* content */

.content {
    height: auto;
    width: 70%;
    padding: 0 0 2em 0;
    margin: auto;
    background-color: transparent;
}


/* for description and content */

@media only screen and (max-width: 780px) {
    
    .description div {
        width: 90%;
        display: block;
    }
    
    .description div input[type="search"] {
        width: 48%;
        margin: 0.2em
    }
    
    .description div select {
        width: 48%;
        height: 4em;
        margin: 0.2em;
    }
    
    .description div input[type='submit'],
    description div input[type='submit']:hover {
        width: 50%;
        margin: 0.2em;
    }
    
    .content {
        height: auto;
        width: 100%;
        padding: 0 0 1em 0;
        margin: auto;
        background-color: transparent;
    }
    
}

@media only screen and (max-width: 500px) {

    .description div {
        width: 90%;
        display: block;
    }

    .description div input[type="search"] {
        width: 100%;
        margin: 0.2em;
    }

    .description div select {
        width: 100%;
        height: 4em;
        margin: 0.2em;
    }

    .description div input[type='submit'],
    description div input[type='submit']:hover {
        width: 50%;
        margin: 0.2em;
    }

    .content {
        height: auto;
        width: 100%;
        padding: 0 0 1em 0;
        margin: auto;
        background-color: transparent;
    }

}

/* for error displays */
.error{
    width: 90vw;
    margin: 5px auto;
    background-color: rgba(250,50,50,.8);
    border: 1px double red;
    overflow: hidden;
    padding: 5px;
    transition: all .5s ease;
}

.inform{
    width: 90vw;
    margin: 5px auto;
    background-color: rgba(50,50,250,.8);
    border: 1px double blue;
    overflow: hidden;
    padding: 5px;
    transition: all .5s ease;
}

.message{
    float: left;
    width: 89%;
    margin: 5px 0 0px 5px;
    overflow: hidden;
}

/* for hardware items card */

.h-card {
    background-color: white;
    width: 25%;
    min-width: 15em;
    max-width: 28%;
    float: left;
    height: auto;
    display: block;
    box-shadow: 0px 0px 10px gray;
    margin: 1em;
    text-align: left;
}

.h-card:hover {
    box-shadow: 0px 5px 5px grey;
}

.h-card .image {
    width: 100%;
    min-width: 10em;
    height: 10em;
    position: relative;
    box-shadow: 0 0 50px #dddddd;
}

.h-card .image img {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
}

.h-card .image h3 {
    font-size: 1em;
    margin: 0;
    padding: 0.4em;
    width: inherit;
    position: absolute;
    bottom: 0;
    background: rgba(255, 255, 255, 0.4);
}

.h-card .image h3:hover {
    background: rgba(255, 255, 255, 0.7);
    transition: background 0.30s ease-in-out;
}

.h-card .more {
    width: 97%;
    height: auto;
    padding: 0.4em;
    display: block;
}

.h-card .more h3 {
    margin: 0;
    padding: 0;
    font-size: 1.1em;
}

.h-card .more p {
    height: 6em;
    overflow-y: auto;
    margin: 5px;
    padding: 0;
    font-size: 0.95em;
}

.h-card .more .price-quantity {
    width: 100%;
    height: auto;
    display: inline-block;
    overflow: hidden;
}

.h-card .more .price-quantity p {
    height: auto;
    overflow: hidden;
}

.h-card .more .price-quantity #price {
    float: left;
}

.h-card .more .price-quantity #quantity {
    float: right;
    margin-right: 0.8em;
}

.h-card .more .bottom {
    position: relative;
    bottom: 0;
}

.h-card .more .bottom button {
    width: 48%;
    padding: 2.5% 5%;
    color: dodgerblue;
    background-color: white;
    border: 1px solid skyblue;
}

.h-card .more .bottom button:hover {
    color: white;
    background-color: skyblue;
}

.h-card .more .bottom #cart:hover {
    color: white;
    border: 1px solid seagreen;
    background-color: seagreen;
}


/* for description and content */

@media only screen and (max-width: 780px) {
    .content {
        width: 75%;
    }
    .h-card {
        background-color: white;
        width: 40%;
    }
    .h-card:hover {
        box-shadow: 0px 0px 20px royalblue;
    }
    .h-card .image {
        width: 100%;
        min-width: 10em;
        height: 10em;
        position: relative;
    }
    .h-card .image img {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
    }
    .h-card .image h3 {
        font-size: 1em;
        margin: 0;
        padding: 0.4em;
        width: inherit;
        position: absolute;
        bottom: 0;
        background: rgba(255, 255, 255, 0.4);
    }
    .h-card .image h3:hover {
        background: rgba(255, 255, 255, 0.7);
        transition: background 0.30s ease-in-out;
    }
    .h-card .more {
        width: 97%;
        height: auto;
        padding: 0.4em;
        display: block;
    }
}

@media only screen and (max-width: 600px) {
    .content {
        width: 100%;
    }
    .h-card {
        width: 70%;
        max-width: 75%;
        margin-left: 15%;
    }
    .h-card .image {
        width: 100%;
        height: 12em;
        position: relative;
    }
    .h-card p {
        font-size: 10%;
    }
}


/* REPAIRS */


/* for repairers card */

#repair-tab {
    background-color: white;
}

#repair-tab.sticky {
    width: 100%;
    position: fixed;
    top: 2em;
    left: 0;
    background-color: #F4f4f4;
}

#pro,
#student {
    border-style: none;
}

#repair-tab button {
    background-color: inherit;
    border-bottom: 4px solid lightgray;
}

#repair-tab button:hover {
    background-color: white;
    border-bottom: 4px solid skyblue;
}

#repair-tab button.active {
    border-bottom: 4px solid dodgerblue;
}

.r-card {
    background-color: white;
    width: 25em;
    float: left;
    height: auto;
    display: inline-flex;
    box-shadow: 0px 0px 10px gray;
    margin: 0.8em;
}

.r-card:hover {
    box-shadow: 0px 0px 20px royalblue;
}

.r-card .image {
    width: 30%;
    min-width: 10em;
    max-width: 10em;
    height: 10em;
    padding: 1em;
}

.r-card .image img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.r-card .more {
    width: auto;
    height: 10em;
    padding: 1em 1em 1em 0;
    text-align: center;
    display: block;
}

.r-card .more h3,
.r-card .more p {
    margin: 5px;
    padding: 5px;
}

.r-card .more .bottom {
    width: auto;
    height: auto;
    display: inline-flex;
}

.r-card .more .bottom p {
    width: 5em;
    color: white;
}

.r-card .more .bottom button {
    padding: 4px 10px;
    color: dodgerblue;
    background-color: white;
    border: 1px solid skyblue;
}

.r-card .more .bottom button:hover {
    color: white;
    background-color: skyblue;
}

@media only screen and (max-width: 1080px) {
    
    #repair-tab {
        width: 100%;
        padding-left: 0;
    }
}

@media only screen and (max-width: 780px) {
    .content {
        width: 80%;
    }
    .r-card {
        text-align: center;
        width: 80%;
        display: block;
    }
    .r-card .image {
        margin: auto;
    }
    .r-card .more {
        padding: 0 1em 1em 1em;
    }
}

@media screen and (max-width: 780px){
    
    #repair-tab.sticky{
        top: 3em;
        z-index: 3;
    }
    
}

@media only screen and (max-width: 480px) {
    .content {
        width: 100%;
    }
    .r-card {
        text-align: center;
        min-width: 70%;
        display: block;
        margin-left: 10%;
    }
}


/* MODAL */


/* The Modal (background) */

.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: hidden;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.5);
    /* Black w/ opacity */
}


/* Modal Content/Box */

.modal-content {
    background-color: #fefefe;
    margin: 10% auto;
    /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 50%;
    /* Could be more or less, depending on screen size */
}

@media screen and(max-width: 400px) {
    .modal-content {

        margin: 10% auto;
        /* 15% from the top and centered */
        padding: 10px;
        border: 1px solid #888;
        width: 100%;
        /* Could be more or less, depending on screen size */
    }
}

/* The Close Button */

.close {
    color: #aaa;
    float: right;
    font-size: 24px;
    font-weight: bold;
    z-index: 10;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}


/* repairer modal */

.modal-content h3 {
    color: skyblue;
    text-align: center;
}

.modal-content table {
    padding-top: 0;
}

.modal-content table td {
    text-align: left;
    padding-left: 1em;
}

.modal-content table .info {
    text-align: right;
    font-weight: bold;
}


/* for seller himself div */

.modal-content .person {
    display: inline-flex;
    height: 3em;
    width: 50%;
    padding: 0.5em;
    background-color: aliceblue;
    margin-bottom: 1em;
}

.modal-content .person img {
    width: 3em;
    height: inherit;
    border-radius: 50%;
}

.modal-content .person div {
    height: auto;
    display: block;
    font-size: 0.9em;
    padding-left: 1.5em;
}

.modal-content .person div h3 {
    margin: 0;
    padding: 0 0 5px 0;
}

.modal-content .person div div {
    padding-left: 0;
}


/* MYCART */

.description h3 {
    padding: 0;
}

.description button {
    padding: 15px 20px;
    text-transform: capitalize;
    background-color: skyblue;
    color: white;
    border: 1px solid white;
}

.description button:hover {
    background-color: white;
    color: deepskyblue;
}

table {
    padding-top: 5em;
    width: 100%;
    height: auto;
    text-align: center;
}

table th {
    padding: 10px 15px;
    background-color: skyblue;
    color: darkslategray;
}

.content input[type='submit'] {
    padding: 10px 20px;
    margin: 1em;
    border-style: none;
    background-color: darkslategray;
    color: white;
    float: right;
}

.content input[type='submit']:hover {
    color: white;
    background-color: tomato;
}

@media only screen and (max-width: 1080px) {
    table {
        overflow-x: scroll;
    }
}


/* USER-ACCOUNT */


/* subtitle */

#subtitle {
    font-size: 0.6em;
}


/* Change the color of log-out on hover */
header #links #logout:hover {
    background-color: tomato;
    color: white;
}


/* profile-box */

.profile-box {
    padding-top: 4em;
    height: auto;
    width: 100%;
    background-color: skyblue;
}

.profile-box img {
    width: 10em;
    height: 10em;
    border-radius: 50%;
}

.profile-box h3 {
    padding: 10px 20px;
    color: white;
    margin: 0;
}


/* for tabs */


/* Style the tab */

div.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
    padding: 0 32% 0 32%;
    display: inline-flex;
}

div.tab.sticky {
    width: 100%;
    position: fixed;
    top: 4em;
    left: 0;
    background-color: #F4f4f4;
}

@media screen and (max-width: 780px){
    
    div.tab.sticky{
        top: 3em;
    }
    
}


/* Style the buttons inside the tab */

div.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
}


/* Change background color of buttons on hover */

div.tab button:hover {
    background-color: #ddd;
}


/* Create an active/current tablink class */

div.tab button.active {
    background-color: #ccc;
}


/* Style the tab content */

.tabcontent {
    display: none;
    padding: 2em 1em;
    /*border: 1px solid #ccc;*/
    border-top: none;
}

.tabcontent {
    -webkit-animation: fadeEffect 1s;
    animation: fadeEffect 1s;
    /* Fading effect takes 1 second */
}

@-webkit-keyframes fadeEffect {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeEffect {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@media only screen and (max-width: 1080px) {
    .profile-box img {
        width: 8em;
        height: 8em;
        border-radius: 50%;
    }
    div.tab {
        overflow-x: scrol;
        display: inline-flex;
        padding-left: 20%;
    }
    div.tab button {
        padding: 8px 10px;
    }
}

@media only screen and (max-width: 768px) {
    .profile-box img {
        width: 5em;
        height: 5em;
        border-radius: 50%;
    }
    div.tab {
        overflow-x: scrol;
        display: inline-flex;
        padding-left: 15%;
    }
    div.tab button {
        padding: 8px 10px;
    }
}


/* about tab */

#about table {
    padding-top: 0;
}

#about table td {
    text-align: left;
    padding-left: 1em;
}

#about table .info {
    text-align: right;
    font-weight: bold;
}


/* rating tab */

#rating {
    text-align: center;
    height: auto;
}

#rating h3 {
    padding: 0;
}

.checked {
    color: deepskyblue;
}


/* store tab */

.tabcontent .upload {
    width: 90%;
    height: auto;
    display: block;
    margin: auto;
    background-color: gainsboro;
    padding: 1em;
    text-align: center;
}

.tabcontent .upload h4 {
    margin-top: 0;
}

.tabcontent .upload input[type='text'], .tabcontent .upload select,
.tabcontent .upload input[type='number'], textarea, select {
    width: 80%;
    height: auto;
    padding: 1em 1em;
    margin: 0.25em 0.5em;
    background-color: white;
    border-style: none;
}

.tabcontent .upload input[type='submit'] {
    float: none;
}

.tabcontent table img {
    width: 3em;
    height: 3em;
    text-align: center;
    border-radius: 5%;
}

.tabcontent table input[type='checkbox'] {
    width: 2em;
    height: 2em;
}

@media only screen and (max-width: 768px) {
    .tabcontent .upload {
        width: 90%;
    }
    .tabcontent .upload textarea {
        width: 90%;
    }
}


/* repair tab */

#repairs {
    text-align: center;
}


/*for toggle switch*/

.switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 27px;
}

.switch input {
    display: none;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 21px;
    width: 21px;
    left: 3px;
    bottom: 3px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    box-shadow: 1px 1px 5px grey;
}

input:checked+.slider {
    background-color: #2196F3;
}

input:focus+.slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
    -webkit-transform: translateX(24px);
    -ms-transform: translateX(24px);
    transform: translateX(24px);
}


/* Rounded sliders */

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

#repairs input[type='submit'] {
    float: none;
}


/* USER-ACCOUNT-UPDATE */

.update {
    width: 60%;
    text-align: center;
    margin: auto;
}

.update fieldset legend {
    color: dodgerblue;
    padding: 0 1em;
}

.update input[type='text'],
.update input[type='number'],
.update input[type='email'],
.update input[type='password'] {
    width: 70%;
    height: auto;
    padding: 1em 1em;
    margin: 0.25em 0.5em;
    background-color: paleturquoise;
    border-style: none;
}

@media only screen and (max-width: 768px) {
    .update {
        width: 90%;
    }
}


/* ADMIN-ACCOUNT */


/* style persons box */

.tabcontent .view {
    width: auto;
    display: inline-flex;
    height: 3.5em;
    background-color: gainsboro;
    padding: 0.4em 1em;
    margin: 0.5em;
}

.tabcontent .view img {
    width: 3em;
    height: 3em;
    padding-top: 3px;
}

.tabcontent .view p {
    color: darkslategray;
    width: 15em;
    font-size: 1em;
    display: table-cell;
    vertical-align: middle;
    margin-left: 1em;
    margin-right: 2em;
}

.tabcontent .view button {
    width: auto;
    height: auto;
    padding: 10px 15px;
    border-style: none;
    background-color: white;
    border: 1px solid deepskyblue;
    color: deepskyblue;
    margin: 0.5em;
}

.tabcontent .view button:hover {
    background-color: skyblue;
    color: white;
}

@media only screen and (max-width: 768px) {
    .tabcontent .view {
        width: 100%;
        display: inline-block;
        height: 3.5em;
        background-color: gainsboro;
        padding: 0.4em 1em;
        margin: 0.5em;
    }
}


/* RATING */

#rating h3 {
    margin-top: 4em;
}

#rating table {
    padding-top: 0;
    width: 100%;
    height: auto;
    text-align: center;
    overflow-x: auto;
}


/* LOGIN & SIGNUP */

#login input[type='text'],
#login input[type='number'],
#login input[type='email'],
#login input[type='password'],
#signup input[type='text'],
#signup input[type='number'],
#signup input[type='email'],
#signup input[type='password'] {
    width: 40%;
    height: auto;
    padding: 1em 1em;
    margin: 0.25em 0.5em;
    background-color: paleturquoise;
    border-style: none;
}

#login input[type='submit'],
#signup input[type='submit'] {
    float: none;
    text-align: center;
    margin: 0;
}

#signup form div {
    background-color: transparent;
    margin: 0;
}

@media screen and (max-width: 600px){
    
    #login input[type='text'],
    #login input[type='number'],
    #login input[type='email'],
    #login input[type='password'],
    #signup input[type='text'],
    #signup input[type='number'],
    #signup input[type='email'],
    #signup input[type='password'] {
        width: 90%;
    }
}


/* FOOTER */

#particle {
    background-color: darkslategray;
    height: 4em;
    width: 100%;
    position: relative;
    bottom: 0;
    float: left;
    margin-top: 2em;
}

#overlay {
    color: white;
    position: relative;
    text-align: center;
    margin-top: 1.5em;
    background-color: inherit;
}


/* MINIFIED NAVIGATION BAR */

.minNav {
    width: 100%;
    overflow: hidden;
    background-color: #333;
    display: none;
    background-color: white;
    position: fixed;
    z-index: 3;
    border-bottom: 2px solid skyblue;
}

.minNav #min-title {
    display: block;
    font-weight: bold;
}

.minNav #min-title:hover {
    background-color: white;
}

.minNav a {
    float: left;
    display: none;
    color: darkslategray;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.minNav a:hover {
    background-color: #ddd;
    color: black;
}

.minNav .icon {
    display: none;
}

@media screen and (max-width: 780px) {
    
    .minNav {
        display: block;
    }
    
    .minNavv a:not(:first-child) {
        display: none;
    }
    
    .minNav a.icon {
        float: right;
        display: block;
    }
    
}

@media screen and (max-width: 780px) {
    
    .minNav.responsive {
        position: relative;
    }
    
    .minNav.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
    }
    
    .minNav.responsive a {
        float: none;
        display: block;
        text-align: left;
    }
    
}
